* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1600px;
	height: 100vh;
	margin: auto;
	font-family: Arial, sans-serif;
}

.header {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 15%;
	background-color: #005461;
}

.header h1 {
	color: #F4F4F4;
}

.left-nav {
	width: 20%;
	height: 70%;
	float: left;
	padding: 10px;
	padding-top: 40px;
	background-color: #018790;
	overflow: scroll;
	scrollbar-width: none;
}

.left-nav ul {
	list-style-type: none;
}

.left-nav ul li {
	color: #F4F4F4;
	margin-bottom: 10px;
	text-align: center;
	min-height: 4rem;
	font-size: 16px;
	font-weight: bold;
}

.content {
	width: 80%;
	height: 70%;
	float: right;
	padding: 40px 20px 20px 20px;
	background-color: #F4F4F4;
	overflow: scroll;
	scrollbar-width: none;

}

.content ul {
	list-style-type: none;
}

.content ul li {
	color: #005461;
	margin-bottom: 10px;
	min-height: 4rem;
	font-size: 16px;
}

.footer {
	width: 100%;
	height: 15%;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 10px;
	background-color: #00B7B5;
}

.footer p {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	color: #F4F4F4;
}